
@{
    ViewBag.Title = "Аукцион";
}

<h2>Аукцион</h2>
<div id="auction">
	<h2 id="product"></h2>
	<input id="time" type="text" disabled/>
	<input id="product" type="text" disabled/>
	<input id="price" type="number" disabled />
	<input id="user" type="text" disabled />
	<input id="offer" type="number" min="100" />
	@if (Request.IsAuthenticated && !User.IsInRole("ADMIN"))
	{
		<input id="to_offer" type="button" value="Предложить" />
		<input id="to_double" type="button" value="Удвоить" />
	}
	@if (Request.IsAuthenticated && User.IsInRole("ADMIN"))
	{
		<input type="button" id="start_a" value="Начать аукцион" />
		<input type="button" id="start_b" value="Начать аукцион" />
	}
</div>

@section scripts{
	<script src="~/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
	<script src="~/Scripts/jquery.signalR-2.2.2.min.js" type="text/javascript"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/AuctionScript.js"></script>
}